@model IEnumerable<StoreFormViewModel>

    @{
        ViewData["Title"] = "Stores";
    }

    <h2>
        <i class="bi bi-shop-window"></i>
        Stores
    </h2>
    <hr />

    <a class="btn btn-success" asp-action="CreateStore">
        <i class="bi bi-plus-lg"></i>
        Add New Store
        </a>


    <div class="mt-4">
        @if (!Model.Any())
        {
            <div class="alert alert-warning" role="alert">
            <i class="bi bi-exclamation-circle"></i>
            No Stores found!
            </div>
        }
        else
        {
            <div class="row">
                @foreach (var store in Model)
                {
                    <div class="col-12">
                        <div class="card" style="width: 30rem;">
                        <div class="list-group list-group-flush">
                                <div class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-6 mt-3">
                                            <p>@store.Name</p>
                                        </div>    
                                        <div class="col-md-6 mt-2">
                                            <div class="d-flex justify-content-between">
                                                <a asp-action="Edit" asp-route-id="@store.Id" class="btn btn-info">
                                                    <i class="bi bi-pencil-square"></i>
                                                    Edit
                                                </a>
                                                <a href="javascript:;" class="btn btn-danger js-delete" data-id="@store.Id">
                                                    <i class="bi bi-trash"></i>
                                                    Delete
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                        </div>
                    </div>
                        
                    </div>

                }
            </div>

                
        }
</div>

@section Scripts{
    <script>
        $(document).ready(function(){
            $('.js-delete').on('click', function(){
                var btn = $(this);

                bootbox.confirm({
                    message: 'Are you sure you need to delete this Store?',
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-danger'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-outline-secondary'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: '/Stores/Delete/' + btn.data('id'),
                                success: function () {
                                    btn.parents('.col-12').fadeOut();
                                    toastr.success('Store Deleted');
                                },
                                Error: function () {
                                    toastr.error('something went wrong!');
                                }
                            })
                        }
                    }
                });
                
            })
        })
    </script>
}
