@using CodeZoneStock.Models.DataEntities;
@model StoresViewModel

    @{
        ViewData["Title"] = "Stores";
    }

    <h2>
        <i class="bi bi-shop-window"></i>
        Stores
    </h2>
    <hr />

    <div class="container">
        <h2>
            Add Store
        </h2>

        <section>
            <form method="post" asp-action="Add">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Name" class="text-muted"></label>
                            <input asp-for="Name" type="text" class="form-control" minlength="2" />
                            <span asp-validation-for="Name" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group mt-4">
                            <button class="btn btn-success">
                                <i class="bi bi-plus-lg"></i>
                                Add
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </section>
        @*<div class="row">
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="StoreName" aria-label="StoreName" aria-describedby="basic-addon1">
            </div>
            <div class="col-md-6">
                <button class="btn btn-success">
                    Add
                    <i class="bi bi-plus-lg"></i>
                </button>
            </div>
        </div>*@
    </div>

    <div class="m-4">
        @if (!Model.Stores.Any())
        {
            <div class="alert alert-warning" role="alert">
            <i class="bi bi-exclamation-circle"></i>
            No Stores found!
            </div>
        }
        else
        {
            <div class="card" style="width: 30rem;">
                <ul class="list-group list-group-flush">
                    @foreach (var store in Model.Stores)
                    {
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-6">
                                    <p>@store.Name</p>
                                </div>
                                <div class="col-md-3">
                                    <button class="btn btn-info">
                                        <i class="bi bi-pencil-square"></i>
                                        Edit
                                    </button>
                                </div>
                                <div class="col-md-3">
                                    <button class="btn btn-danger">
                                        <i class="bi bi-trash"></i>
                                        Delete
                                    </button>
                                </div>
                            </div>
                        </li>

                    }
                </ul>
            </div>
            
        }
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}