@{
    ViewData["Title"] = "Home Page";
}

    @*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@


<div class="article-container">
    <h1 class="article-title">Innovative Inventory Management System</h1>
    <p>Welcome to our innovative inventory management system, designed to streamline the process of managing and assigning stock items across various stores directly from our intuitive dashboard. Our application includes dedicated tabs for both items and stores, accessible via the navigation bar, enabling efficient, centralized control of your inventory.</p>
    <p>Our system allows users to define items within the "Items" tab, where details such as name. Similarly, the "Stores" tab provides a comprehensive view of different store names, facilitating better actions to deal with Items and Stors.</p>
    <p>One of the core features of our application is the capability to assign specific items to selected stores. This process is seamlessly integrated into the platform, ensuring that the inventory distribution is both strategic and straightforward. Our intuitive form lets users easily select items and stores from dropdown menus and specify the quantities to be assigned, all without the need for page refreshes, thanks to the advanced AJAX-based interactions we've implemented.</p>
    <p class="thank-you">We would like to express our heartfelt gratitude to CodeZone for providing us with the opportunity to participate in this project. The support and guidance offered by CodeZone during the interview process were instrumental in bringing this task to fruition.</p>
    <p>This system is designed not only to improve operational efficiencies but also to provide a user-friendly interface that caters to the dynamic needs of modern businesses. We are committed to continuous improvement and are excited to explore further enhancements that will help our clients achieve even greater success.</p>
</div>
